<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="522fe693-0c01-408a-a7ba-746a2f6250e1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="46575c65-edd2-4af3-bff4-ccfcfc3565c8" >
		<http:request-connection host="${api.host}" port="${api.port}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="c1e41712-ac64-4cd1-a14e-2c44f3c98d9a" file="Config.yaml" />
	<error-handler name="ConfigError_Handler" doc:id="866c9451-fc5a-43f2-b7ff-0fc5de02e761" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="40d25762-f849-4d8d-8564-4ec63b3c9b7c" >
			<ee:transform doc:name="Transform Message" doc:id="7dd29584-faef-43b3-badb-0eec30adade9" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Request Failed due to Server Time Out"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</on-error-propagate>
	</error-handler>
</mule>
